- if reply.sent_by.eql?(current_user.id)
	.col-xs-offset-2.col-xs-9.reply-r.reply{ data: {reply_id: reply.id } }
		%table
			%tr
				%td.body
					= reply.reply_body
				%td.img
					.pic
						=image_tag current_user.avatar_url, class: "img-circle reply-pic"
					.name-or-date
						= reply.sent_name
					- if show_time?(reply)
						.name-or-date
							= reply_time(reply)

- else
	.col-xs-9.col-xs-offset-1.reply-l.reply{ data: {reply_id: reply.id } }
		%table
			%tr
				%td.img
					.pic
						= image_tag reply.sender_picture, class: "img-circle reply-pic"
					.name-or-date
						= reply.sent_name
					- if show_time?(reply)
						.name-or-date
							= reply_time(reply)
				%td.body
					= reply.reply_body