= stylesheet_link_tag 'musicians'
= javascript_include_tag 'musicians'
.container-fluid
  .row
    = render partial: "partials/edit_account"
    .col-xs-4.col-xs-offset-1.left-info
      %h2 Edit Profile Information
      %h3 Interested in giving lessons? 
      %p
        Giving lessons is really cool, but sometimes it's pretty hard to connect students to teachers. By checking the following, everyone will see that you're willing to give lessons!
      = form_for(@musician, url: musician_path(@musician), method: :patch, remote: true, html: { class: "form-inline" , id: :lesson}) do |f|
        .form-group
          = f.label :give_lessons?
          = f.select(:lessons, [["Sure!", true], ["No Way!", false]], selected: nil, class: "form-control")
        = f.submit "Confirm", class: "btn btn-primary"
