= stylesheet_link_tag 'musicians'
= javascript_include_tag 'musicians'
.container-fluid
  .row
    = render partial: "partials/edit/edit_account"
    .col-xs-8.left-info
      .three-quarters
        %h2 
          Edit Profile Information
          = render partial: "partials/edit/lessons"
          = render partial: "partials/edit/genres"
          = render partial: "partials/edit/statement"