.container-fluid.smoke
	.row
		.col-xs-8.col-xs-offset-2.content
			.page-header.text-center
				%h1= "Send #{@musician.first_name} a Message"
				= link_to "Return to #{@musician.first_name}'s Profile", musician_path(@musician), class: "btn btn-primary"
			.well.contact
				= form_for(@message, method: :post, url: musician_messages_path(@musician, @message)) do |f|
					= f.hidden_field(:sent_by, value: @message.sent_by) unless @message.sent_by.nil?
					- if @message.errors.any?
						%h2.errors We're sorry, we can't send that message.
						- @message.errors.full_messages.each do |msg|
							.errors= msg
					.form-group
						%h4 What is this message for?
					- if @musician.lessons?[2]
						.radio
							%label
								= radio_button_tag(:request, "lesson") if @message.lesson_request.nil?
								= radio_button_tag(:request, "lesson", checked: true) if !@message.lesson_request.nil?
								= "I am contacting #{@musician.first_name} for lessons."
					.radio
						%label
							= radio_button_tag(:request, "jam") if @message.jam_request.nil?
							= radio_button_tag(:request, "jam", checked: true) if !@message.jam_request.nil?
							= "I am contacting #{@musician.first_name} because I would like to jam."
					.radio
						%label
							= radio_button_tag(:request, "booking") if @message.booking_request.nil?
							= radio_button_tag(:request, "booking", checked: true) if !@message.booking_request.nil?
							= "I am contacting #{@musician.first_name} for a booking request."
					%br
					.form-group
						%h4 Subject
						= f.text_field(:subject, value: @message.subject.nil? ? "" : @message.subject, class: "form-control")
					%br
					.form-group
						%h4 What do you have to say?
						= f.text_area(:message_body, value: @message.message_body.nil? ? "" : @message.message_body, size: "24x6", class: "form-control", placeholder: "Let it all out")
					= f.submit "Send", class: "btn btn-info btn-block"