.container-fluid.smoke
	.row
		.col-xs-8.col-xs-offset-2.content
			.page-header.text-center
				%h1= "Send #{@musician.first_name} a Message"
				= link_to "Return to #{@musician.first_name}'s Profile", musician_path(@musician), class: "btn btn-primary"
			.well.contact
				= form_for(@message, method: :post, url: musician_messages_path(@musician, @message)) do |f|
					= hidden_field_tag(:sent_by, @message.sent_by) unless @message.sent_by.nil?
					- if @message.errors.any?
						%h2.errors We're sorry, we can't send that message.
						- @message.errors.full_messages.each do |msg|
							.errors= msg
					.form-group
						%h4 What is this message for?
					- if @musician.lessons?[2]
						.radio
							%label
								= radio_button_tag(:request, "lesson")
								= "I am contacting #{@musician.first_name} for lessons."
					.radio
						%label
							= radio_button_tag(:request, "jam")
							= "I am contacting #{@musician.first_name} because I would like to jam."
					.radio
						%label
							= radio_button_tag(:request, "booking")
							= "I am contacting #{@musician.first_name} for a booking request."
					%br
					.form-group
						%h4 What do you have to say?
						= text_area_tag(:message_body, "", size: "24x6", class: "form-control", placeholder: "Let it all out")
					- if @message.sent_by.nil?
						%br
						.form-group
							%h4 Who is this from?
							.form-group
								= text_field_tag(:return_email, "Please enter your email address...", class: "form-control")
					= f.submit "Send", class: "btn btn-info btn-block"