.container-fluid
	.row
		.col-xs-4.left-info.well
			%h1.text-center= "#{@musician.first_name} #{@musician.last_name}"
			= render partial: "partials/musician/avatar", locals: { musician: @musician}
			.col-xs-8.col-xs-offset-2
				%hr
				= render partial: "partials/musician/sidebar", locals: { musician: @musician}
		.col-xs-8.left-info
			= render partial: "partials/musician/songs"