%h2.text-center
	= message.subject
	%small= "last message: #{message.last_active_time}"
%h4.text-center= "#{message.type?} from #{message.sender}"
.col-xs-10.col-xs-offset-1.replies#replies{ data: { sender: message.sent_by , replies: message.replies.count } }
	%div{ class: original_message(current_user.id, message.sent_by), data: { reply_id: reply.id } }
		%table
			%tr
				- if sent_by_me?(current_user.id, message.sent_by)
					%td
						= message.message_body
					%td.img
						.pic
							= image_tag message.sender_picture, class: "img-circle reply-pic"
						.name-or-date
							= message.first_name
						.name-or-date
							= message_time(message)
				- else
					%td.img
						.pic
							= image_tag message.sender_picture, class: "img-circle reply-pic"
						.name-or-date
							= message.first_name
						.name-or-date
							= message_time(message)
					%td
						= message.message_body

	- message.replies.each do |a_reply|
		= render :partial => "partials/replies/reply", locals: { message: message, reply: a_reply }

.col-xs-10.col-xs-offset-1.respond
	%form#reply-send-form
		.input-group.add-on
			%textarea{type: :text, class: "form-control reply-contents", id: 'reply-body'}
			.input-group-btn
				%button{type: :submit, class: "btn btn-info reply-send", id: "reply-submit"}
					Send
					%span.glyphicon.glyphicon-send
%p#message-id.hidden= message.id