- if display
	%nav.navbar.navbar-inverse.navbar-fixed-top
		.container-fluid
			.navbar-header
				%button.navbar-toggle{ data: { toggle: "collapse", target: "#jammer-nav" } }
					%span.sr-only Toggle Nav
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				= link_to "Jammer", root_path, class: "navbar-brand"

			.collapse.navbar-collapse#jammer-nav
				%ul.nav.navbar-nav
					%li#musician_id{ data: {:id => current_user.id } }
						= link_to "#{current_user.first_name}'s Profile", musician_path(current_user)
					%li.dropdown
						%a{href: "#", class: "dropdown-toggle", data: { toggle: "dropdown" } }
							%span.caret
						%ul.dropdown-menu
							%li 
								= link_to "Messages", messages_musician_path(current_user)
							%li 
								%a Songs
							%li 
								%a Videos
							%li 
								%a Booking
				= form_tag("/search", method: :get, class: 'navbar-form navbar-right') do
					.form-group
						= text_field_tag :search, "", class: "form-control", placeholder: "Search", id: "search-bar"
					= submit_tag "Search", class: "btn btn-info"
					=link_to 'Log Out', destroy_user_session_path, class: "btn btn-danger", method: :delete
				- if notice || alert
					%ul.nav.navbar-nav.navbar-right
						%li 
							%a#nav_notice= notice
						%li 
							%a#nav_alert= alert
				%ul.nav.navbar-nav.navbar-right
					%li
						%a#nav_flash