<!DOCTYPE html>
<html>
<head>
  <title>Jammer</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= yield :devise_forms if :devise_controller? %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= render partial: "partials/jammer_navbar", locals: { display: user_signed_in? } %>

<% if notice && params[:controller].eql?("welcome") %>
	<p class="notice" id="notice"><%= notice %></p>
<% end %>

<% if alert && params[:controller].eql?("welcome") %>
	<p class="alert" id="alert"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
